@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000008;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html, a, button, input, [role="button"] {
    cursor: none;
  }
}

/* Ocultar barra de rolagem (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Ocultar barra de rolagem (Firefox) */
* {
  scrollbar-width: none;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
